resources/sources.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="sources">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="source" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>